.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    background-image: url(https://media.npr.org/assets/img/2020/05/05/plazamarqueeduringclosure_custom-965476b67c1a760bdb3e16991ce8d65098605f62-s800-c85.webp);
    background-position: center;
}
